extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th id
        th Status Name
    tbody
      each taskStatus in taskStatuses
        tr
          td= taskStatus.id
          td= taskStatus.name
          //TODO add links to delete and update