extends /layouts/application.pug

block content
  table.table.table-stripped
    thead
      tr
        th id
        th Name
    tbody
      each task in taskStatuses
        tr
          td= taskStatus.id
          td= taskStatus.name
