extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('session'), method: 'post' })
    +input(f, 'email', 'Email')
    +input(f, 'password', 'Password', { as: 'password' })
    +button(f)
