extends /layouts/application.pug

block content
  .row.justify-content-center.mt-5
    .col-8
      +formFor(f, { url: urlFor('users'), method: 'post' })
        +input(f, 'email')
        +input(f, 'firstName')
        +input(f, 'lastName')
        +input(f, 'password', { as: 'password' })
        +button(f)
